# Heater URL
heater_url = "<insert url>"

# SendEmail
icloud_id = "<insert email address>"
icloud_pass = "<insert password>"
to_address = "<insert email address>"

# InfluxDB
org = "<insert Organisation>"
token = "<insert token>"
bucket = "<insert bucket name>"
influxdb_url = "<insert influxdb url>"
