DB_MYSQL_HOST=db
DB_MYSQL_PORT=3306
DB_MYSQL_USER=<insert username>
DB_MYSQL_PASSWORD=<insert password>
DB_MYSQL_NAME=<nsert sql name>

# Uncomment this if IPv6 is not enabled on your host
# DISABLE_IPV6=true
